.Navlink {
    margin: 0;
    display: inline;
    padding: 8px 12px;
    text-align: center;
    /* border-right: 1px solid WHITE; */
    

}
.Navlink a{
    color: white;
    text-decoration: none;
}
.Navlink:hover{
    background-color: tomato;
    color: white;
    box-shadow: 5px 5px 8px grey;
}