.Button {
        
        border: 1px solid skyblue;
        padding:5px;
        background-color:white;
        margin: 2px;
        border-radius: 8px;
        width: auto;
        display: inline-block;
        user-select: none;
}
.buttonContainer{
    color: white;
    background-color: lightskyblue;
    font-weight: 900;
    padding:5px;
    border-radius: 5px;

}